
.wrap {
	width: 94%;
	padding: 5% 0;
	margin: 0 3%;
}
.dynamic-grid{
    position: relative;
    // display: none;

    &.angular-grid{
	    display: block;
	}

	.grid {
	    position: absolute;
	  	list-style: none;
	  	background: #ffffff;;
	  	box-sizing: border-box;
	  	-webkit-transition: all 400ms ease;
	  	transition: all 400ms ease;
	  	overflow: hidden;
	  	border-radius: 10px;
	}

	.grid-img {
	    width: 100%;
	    vertical-align: middle;
	    -webkit-transition: opacity 0.6s ease-out;
	    transition: opacity 0.6s ease-out;
	    background-color: #fff;
	    opacity: 0;
	    visibility: hidden;

	    &.img-loaded{
		    visibility: visible;
		    opacity: 1;
		}
	}

	.active .grid-img {
		width: 120%;
	}
}
